body{
  background-color: #313333;
}

.App {
  margin-left: 1%;
  color:#fff;
}

.italic {
  font-style: italic;
}

.monsterDisplay h1 {
  line-height: .5;
  text-align: left;
}

.monsterDisplay .statSection h4 {
    padding: 0 10px 0 0;
}

.monsterDisplay h1 span {
  font-size: 14px;
}

.monsterDisplay .verboseStatSection h3 {
  margin:0 0 5px 0;
}

.monsterDisplay .verboseStatSection p {
  margin:0 0 30px 0;
}
.verboseStatSection {
  border-top: 1px solid cyan;
}

.statSection {
  display: flex;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.statSection p {
  margin-right: 25px;
}
.statSection span {
  display: inline-flex;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
