body{
  background-color: #313333;
}

h1,h2 {color: darkcyan;}
h1 {margin:40px 0 3px 0;}

h3, h4 {color: violet;}

.App {
  margin: 2%;
  color:#fff;
}

.italic {
  font-style: italic;
}

.monsterDisplay h1 {
  line-height: .5;
  text-align: left;
}

.monsterDisplay .statSection h4 {
    padding: 0 10px 0 0;
}

.monsterDisplay h1 span {
  font-size: 14px;
}

.monsterDisplay .verboseStatSection h3 {
  margin:0 0 5px 0;
}

.monsterDisplay .verboseStatSection p {
  margin:0 0 25px 0;
}
.verboseStatSection {
  border-top: 1px solid darkviolet;
}

.statSection {
  text-transform: capitalize;
  text-align: left;
  /* margin: 25px 0; */
}

.statSection h4 {
  margin: 0;
}

.statSection p {
  margin-right: 25px;
  text-align: center;
}
.statSection span {
  display: inline-flex;
}

.stats {display: flex;text-transform: capitalize;margin: 0;}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
